<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengqing.aidlapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".aidl.BookManagerActivity" />
        <activity android:name=".provider.ProviderActivity" />
        <activity android:name=".socket.TCPClientActivity" />


        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote" />

        <service
            android:name=".socket.TCPServerService"
            android:process=":remote" />


        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.fengqing.aidlapp.book.provider"
            android:permission="com.fengqing.aidlapp.PROVIDER"
            android:process=":provider" />

    </application>

</manifest>